// Je dois avoir une card deja toute faite et rajouter mes elem dedans 




// header-menue 


.restaurant{
    background-color: $light-grey;
    padding:50px 20px;
}

.menue{
    background-color: $grey;
    // gap:10px;
}

.menue-container {
    // rajouter le code du display ici pour pas avoir de soucis 
    // display:flex; 
    @include form-item-center ; 
    gap:12px;
    padding:10px;
    margin:40px 0px; 
}
.menue-item{
    @include form-item-center ; 
    margin: 0;
    flex-direction:row; 
    // @include card 

    background-color: white;
    border-radius:15px; 
    height:60px; 
    width:100%;
    padding:15px;
    gap:5px;

    

    h3,p {
        margin:0px; 
    }

    &-txt{
        display:flex; 
        flex-direction: column;
        width:80%; 
        gap:5px;
        // justify-content:flex-start;

    }

    &-price{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        font-weight: 700;
        width:20%; 
    }
}

.button-command{
    @include form-item-center ; 
}