// this class is used for template.html

/* The container that holds all the cards (Entrées, Plats, etc.) */

.menue {
  background: $light-grey;
  border-radius: 25px 25px 0px 0px;
  margin-top: -25px;
  z-index: 100;
  position: relative;


  h2 {
    margin-left: 15px;
    font-size: 1rem;
    font-weight: lighter;
    text-transform: uppercase;

    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 3px;
      background: $light-green;
      margin-top: 5px;
    }
  }

  @include desktop {
    margin-right: 50px;
    margin-left: 50px;
  }

  .txt-form {
    font-family: $logo-font;
    margin-left: 15px;
  }

  &-header {
    @include desktop {
      justify-content: center;
    }

    @include form-item(flex, row, center, space-between);
    gap: 50px;

  }
// animation for each menue item
  &-entree {
    @include animation-fade-in();
    animation-delay: 0s;
  }

  &-plat {
    @include animation-fade-in();
    animation-delay: 2s;
  }

  &-dessert {
    @include animation-fade-in();
    animation-delay: 4s;
  }
}

.menue-container {
  display: flex;
  flex-direction: column;
  gap: $gap-m;
  margin-bottom: 50px;
}

// the flex here is not really used, it was made and left because it didnt change anything at the end
@include desktop {
  .restaurant .menue-item {
    box-sizing: border-box;
    margin: 0;
    flex: 0 0 calc((100% - #{$gap-m}) / 2);
  }

  .restaurant .menue .menue-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

/* Each card */
.menue-item {
  position: relative;
  overflow: hidden;
  @include card-figma;

  display: flex;
  align-items: flex-start;

  justify-content: space-between;
  gap: 1rem;
  margin-inline: 15px;
  animation: $slide-out-price;

  .card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;

    /* Makes the link invisible and non-breaking */
    text-decoration: none;
    color: inherit;
    background: transparent;
  }

  .badge {
    position: absolute;
    top: 12px;
    right: 12px;
    background: $light-green;
    color: $dark-green;
    padding: 6px 10px;
  }

  &-txt {
    padding: 10px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1 1 auto;
    min-width: 0;

    /* allows text to wrap instead of pushing price away */
    h3 {
      margin: 0;
      font-weight: 700;
      @include text-truncate;
    }

    p {
      margin: 0;
      opacity: 0.8;
      @include text-truncate;
    }
  }

  &-price {
    // verifier notre premiere ligne de code and why it is still needed
    align-self: flex-end;
    display: flex;
    align-items: baseline;
 
    gap: 0.25rem;
    font-weight: 700;
    white-space: nowrap;

    /* “25 €” stays together */

    padding-right: 10px;
    padding-bottom: 10px;
    animation: $slide-out-price;

    & p {
      margin: 0;
    }
  }
  // hover effect to show price and checkmark when on menue-item so the whole container is hoverable  
  &:hover {
    .menue-item-price {
      animation: $slide-in-price;
    }
    .menue-item-check {
      animation: $slide-in-check
    }
  }
}

.menue-txt-header {
  color: black !important;
}

.menue-item-check {
  position: absolute;
  background: $light-green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 100%;
  right: 0px;
  opacity: 0;
  pointer-events: none;
  /* ignore mouse, hover stays on price */
  z-index: 1;
  /* ensure over price */
  animation: $slide-out-check;

  & i {
    background: #fff;
    border-radius: 50%;
    padding: 3.5px;
    color: $light-green;
  }
}

.euro {
  font-weight: 700;
}

.fa-heart-content {
  position: relative;
  z-index: 10;
}

@include heart-animation;

.button-command {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  cursor: pointer;
  transition: $lighter-button; 

  button {
    @include button-primary;

    &:hover {
      background: $gradiant-light-violet;
    }
  }
}