// this class is used for template.html

/* The container that holds all the cards (Entrées, Plats, etc.) */

.menue {
  background: $light-grey;
  border-radius: 25px 25px 0px 0px;
  margin-top: -25px;
  z-index: 100;
  position: relative;
  margin-right: 50px;
  margin-left: 50px;

  h2 {
    margin-left: 15px;
    font-size: 1rem;
    font-weight: lighter;
    text-transform: uppercase;
    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 3px;
      background: $light-green;
      margin-top: 5px;
    }
  }

  .txt-form {
    font-family: $logo-font;
    margin-left: 15px;
  }
  &-header {
    @include tablet_desktop {
      justify-content: center;
    }
    @include form-item(flex, row, center, space-between);
    gap: 50px;
    i {
      margin-right: 40px;
    }
  }
}
.menue-container {
  display: flex;
  flex-direction: column;
  gap: $gap-m;
  margin-bottom: 50px;
  //  margin: 1rem 0 2rem;    /* spacing between sections */
}

@include tablet_desktop {
  .restaurant .menue-item {
    box-sizing: border-box;
    margin: 0;
    flex: 0 0 calc((100% - #{$gap-m}) / 2);
  }
}
/* Each card */
.menue-item {
  @include card-figma;

  display: flex;
  align-items: flex-start; /* align to top edge */
  justify-content: space-between;
  gap: 1rem;
  margin-inline: 15px;
  &-txt {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1 1 auto; /* grow/shrink as needed */
    min-width: 0; /* allows text to wrap instead of pushing price away */
    h3 {
      margin: 0;
      font-weight: 700;
    }

    p {
      margin: 0;
      opacity: 0.8; /* lighter tone like in your mock */
    }
  }

  &-price {
    // verifier notre premiere ligne de code and why it is still needed
    align-self: flex-end; /* sit at the bottom of the left column’s height */
    display: flex;
    align-items: baseline; /* better optics for number + € */
    gap: 0.25rem;
    font-weight: 700;
    white-space: nowrap; /* “25 €” stays together */
    padding-right: 10px;
    padding-bottom: 10px;
    & p {
      margin: 0;
    }
  }
}

.euro {
  font-weight: 700;
}

.button-command {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  button {
    @include button-primary;
  }
}
// one css for 4 different html pages
